<%- include('./partials/header.ejs') %>
<section id="hero" class = hero>
<div class="content">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="event-heading text-center mb-4">
                    <h3 class="display-4">About Us</h3>
                    <hr class="my-4 w-25 mx-auto"> <!-- A line under the heading for more emphasis -->
                </div>
                
                <!-- Description -->
                <div class="m-60">
                    <p class="lead">Welcome to Planet Perks</p>
                    <p>Planet Perks is more than just a sustainability initiative; it's a pledge for a greener tomorrow. By joining us, you become part of a movement that believes in taking action today to preserve our planet for future generations. With every commitment made, whether it's reducing waste, supporting renewable energy, or advocating for eco-friendly practices, we collectively contribute to a brighter, more sustainable future. Together, let's harness the power of small actions to make a big difference in protecting our precious Earth</p>
                    <p>Join us at Planet Perks, where every pledge plants a seed for a greener tomorrow</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<%- include('./partials/footer.ejs') %>


