<%- include('./partials/header.ejs') %>

    <main>
<section id="hero" class="hero-index hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up" class="aos-init aos-animate">A Pledge for a Greener Tomorrow </h2>
          <p data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">Innovative sustainable packaging solutions disrupt traditional practices, offering eco-friendly alternatives and reducing environmental impact.</p>
          <div class="d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <a href="/stories/newEvents" class="btn-book-a-table">Create Event</a>
            <a href="/stories/" class="glightbox btn-watch-video d-flex align-items-center me-"><span>All Events</span></a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="/images/hero-bg.png" class="img-fluid aos-init aos-animate" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section>
<!-- banner section ends -->
    </main>

<%- include('./partials/footer.ejs') %>
